/* Formulaires */
form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}

form input {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #cc5500;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #b34700;
}

#logoutButton {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #cc5500;
    color: white;
    cursor: pointer;
}

#logoutButton:hover {
    background-color: #b34700;
}
